/** General **/

body {
    background-color: #1ebea5;
}

.container {
    width: 450px;
}

.box-shadow {
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.show-animate {
    transition: opacity 0.5s;
    animation-duration: 0.3s;
    animation-name: showScale;
}

@keyframes showScale {
    from {
        transform: scale(2, 2);
    }

    to {
        transform: scale(1, 1);
    }
}

/** User table **/

.user-table {
    margin: 0;
}

.user-table__wrap {
    background-color: #fff;
    padding: 4px;
    margin: 10px 0;
}

/** Error modal **/

.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-modal__message {
    padding: 10px;
    min-width: 200px;
    transition: opacity 0.5s;
    animation-duration: 0.3s;
    animation-name: showScale;
}

.error-modal__close, .error-modal__close:hover {
    color: white;
    margin-top: -3px;
}
